@import '../core/Variables.scss';
@import '../core/Global.scss';

.p0s4-card {
  background-color: $col-white;

  width: 100%;
  padding: 24rem;

  // @include flexLeftColumn;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 16rem;

  border-radius: 8px;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.04);

  @media (min-width: $break-point-tablet) {
    padding: 32rem;
    gap: 24rem;
  }
  &__title {
    @include flexLeftRow;
    flex-wrap: wrap;
    gap: 16rem;

    @media (min-width: $break-point-tablet) {
      @include flexLeftColumn;
      gap: 24rem;
    }

    &--icon {
      width: 48rem;
      height: 48rem;

      @media (min-width: $break-point-tablet) {
        width: 70rem;
        height: 70rem;
      }
    }

    &--icon0 {
      background: url(../../assets/icons/bullet000.svg) no-repeat center center /
        contain;
    }

    &--icon1 {
      background: url(../../assets/icons/bullet001.svg) no-repeat center center /
        contain;
    }

    &--icon2 {
      background: url(../../assets/icons/bullet002.svg) no-repeat center center /
        contain;
    }

    &--icon3 {
      background: url(../../assets/icons/bullet003.svg) no-repeat center center /
        contain;
    }
  }
}
