@import '../core/Variables.scss';
@import '../core/Global.scss';

.p1s3 {
  padding: 0 0 40rem 0;

  @include flexCenteredColum;

  &__title {
    padding: 10rem 0 40rem 0;
  }

  &__cards {
    @include flexCenteredColum;
    gap: 20rem;

    @media (min-width: $break-point-desktop) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 32rem;
    }
  }

  @media (min-width: $break-point-tablet) {
    padding: 40rem 32rem;
  }
}
