@import '../core/Variables.scss';
@import '../core/Global.scss';

.page {
  width: 100%;
  min-height: calc(100vh - 487rem);
  margin-top: $nav-height-mobile;

  @include flexCenteredColum;

  @media (min-width: $break-point-desktop) {
    margin-top: $nav-height-tablet-desktop;
  }
}
