@import '../core/Variables.scss';

.parallax-container {
  width: 100%;
  padding-bottom: 100%;

  position: relative;

  @media (min-width: $break-point-desktop) {
    width: 80%;
    padding-bottom: 80%;
  }
}

.layer {
  width: 100%;
  padding-bottom: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.2s ease;
  background-position: center center;
}

.layer1 {
  background-size: 95%;
  background: url(../../assets/images/di/capa1.svg) no-repeat center center /
    contain;
  z-index: 1;
}

.layer2 {
  z-index: 2;
  background: url(../../assets/images/di/capa2.svg) no-repeat center center /
    contain;
}

.layer3 {
  z-index: 3;
  background: url(../../assets/images/di/capa3.svg) no-repeat center center /
    contain;
}

.layer4 {
  z-index: 4;
  background: url(../../assets/images/di/capa4.svg) no-repeat center center /
    contain;
}

.layer5 {
  z-index: 5;
  background: url(../../assets/images/di/capa5.svg) no-repeat center center /
    contain;
}

.layer6 {
  background-size: 95%;
  background: url(../../assets/images/di/capa6.svg) no-repeat center center /
    contain;
  z-index: 6;
}

.layer7 {
  z-index: 7;
  background: url(../../assets/images/di/capa7.svg) no-repeat center center /
    contain;
}

.layer8 {
  z-index: 8;
  background: url(../../assets/images/di/capa8.svg) no-repeat center center /
    contain;
}

.layer9 {
  z-index: 9;
  background: url(../../assets/images/di/capa9.svg) no-repeat center center /
    contain;
}

.layer10 {
  z-index: 10;
  background: url(../../assets/images/di/capa10.svg) no-repeat center center /
    contain;
}

.layer11 {
  background-size: 95%;
  background: url(../../assets/images/di/capa11.svg) no-repeat center center /
    contain;
  z-index: 11;
}

.layer12 {
  z-index: 12;
  background: url(../../assets/images/di/capa12.svg) no-repeat center center /
    contain;
}

.layer13 {
  z-index: 13;
  background: url(../../assets/images/di/capa13.svg) no-repeat center center /
    contain;
}

.layer14 {
  z-index: 14;
  background: url(../../assets/images/di/capa14.svg) no-repeat center center /
    contain;
}

.layer15 {
  z-index: 15;
  background: url(../../assets/images/di/capa15.svg) no-repeat center center /
    contain;
}

.layer16 {
  background-size: 95%;
  background: url(../../assets/images/di/capa16.svg) no-repeat center center /
    contain;
  z-index: 16;
}

.layer17 {
  z-index: 17;
  background: url(../../assets/images/di/capa17.svg) no-repeat center center /
    contain;
}

.layer18 {
  z-index: 18;
  background: url(../../assets/images/di/capa18.svg) no-repeat center center /
    contain;
}

.layer19 {
  z-index: 19;
  background: url(../../assets/images/di/capa19.svg) no-repeat center center /
    contain;
}

.layer20 {
  z-index: 20;
  background: url(../../assets/images/di/capa20.svg) no-repeat center center /
    contain;
}
